.main{
    height: 80vh;
    width: 98.9vw;
}

video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* background: #000000; */
}




@media(width<=1500px){
  .main{
    height: 150vh;
  }

  
}

