.navpc{
    height: 100px;
    width: 100%;
    background-color: #0f1112;
    opacity: 0.85;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    gap: 10px;
}

.winter{
    height: 100%;
    width: 15%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.winter img{
    width: 250px;
}

.summer{
    display: flex;
    /* background-color: gray; */
    height: 100%;
    width: 35%;
    gap: 25px;
    /* align-items: center; */
    justify-content: flex-start;
}

.images{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    /* background-color: red; */
    height: 100%;
    position: relative;
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 70px;
}

.weed{
    height: 45px;
    width: 60px;
    border-radius: 100px;
    background-color:  transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgrey;
}

/* .weed:hover{
    cursor: pointer;
    background-color: blueviolet;
    background: linear-gradient(rgba(24, 119, 242));
    border: none;
} */

.weed1{
    height: 45px;
    width: 60px;
    border-radius: 100px;
    background-color:  transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgrey;
}

.weed2{
    height: 45px;
    width: 60px;
    border-radius: 100px;
    background-color:  transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid lightgrey;
}

/* .weed2:hover{
    cursor: pointer;
    background-color: #f2f2f2;
} */

.images img{
    width: 15px;
}

.with{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.gap{
    background-color: #4d61ff;
    height: 50%;
    width: 70%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


@media(width<=500px){
    .navpc{
        display: none;
    }
}